In [1]:
import dask.dataframe as dd
df = dd.read_csv('*.csv')
df.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [2]:
len(df)

1956

In [3]:
df = df.persist()

In [4]:
df['check'] = df['CONTENT'].str.contains('check', case=False)

In [5]:
df.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS,check
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1,True
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1,True
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1,False
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1,False
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1,True

In [7]:
df.CLASS.value_counts().compute()

1    1005
0     951
Name: CLASS, dtype: int64

In [11]:
spamcheck = df[(df.CLASS == 1) & (df.check == True)]
len(spamcheck)

461

In [13]:
checknotspam = df[(df.CLASS == 0) & (df.check == True)]
len(checknotspam)

19

%md
The language I prefer to use the most is Python since I know it well and can be used in a wide variety of circumstances. I would switch to Scala when working with Spark since Spark is written in Scala. Because I prefer Python, I would generally choose Dask over Spark since Dask is written in Python and has a lot of the Pandas operations I'm already familiar with.