_Lambda School Data Science — Big Data_

# AWS SageMaker

### Links

#### AWS
- The Open Guide to Amazon Web Services: EC2 Basics _(just this one short section!)_ https://github.com/open-guides/og-aws#ec2-basics
- AWS in Plain English https://www.expeditedssl.com/aws-in-plain-english
- Amazon SageMaker » Create an Amazon SageMaker Notebook Instance https://docs.aws.amazon.com/sagemaker/latest/dg/gs-setup-working-env.html
- Amazon SageMaker » Install External Libraries https://docs.aws.amazon.com/sagemaker/latest/dg/nbi-add-external.html

#### Dask
- Why Dask? https://docs.dask.org/en/latest/why.html
- Use Cases https://docs.dask.org/en/latest/use-cases.html
- User Interfaces https://docs.dask.org/en/latest/user-interfaces.html

#### Numba
- A ~5 minute guide http://numba.pydata.org/numba-doc/latest/user/5minguide.html

## 1. Estimate pi
https://en.wikipedia.org/wiki/Approximations_of_π#Summing_a_circle's_area

### With plain Python

In [12]:
import random

def monte_carlo_pi(nsamples):
    acc = 0
    for _ in range(int(nsamples)):
        x = random.random()
        y = random.random()
        if (x**2 + y**2) < 1.0:
            acc += 1
    return 4.0 * acc / nsamples

In [13]:
%%time
monte_carlo_pi(1e7)

CPU times: user 4.29 s, sys: 0 ns, total: 4.29 s
Wall time: 4.29 s

3.1409796

### With Numba
http://numba.pydata.org/

In [14]:
from numba import njit, jit
# @jit(nopython=True) == @njit
@njit
def montecarlo_pi_njit(nsamples):
    acc = 0
    for _ in range(int(nsamples)):
        x = random.random()
        y = random.random()
        if (x**2 + y**2) < 1.0:
            acc += 1
    return 4.0 * acc / nsamples

In [15]:
%%time
montecarlo_pi_njit(1e7)

CPU times: user 220 ms, sys: 0 ns, total: 220 ms
Wall time: 220 ms

3.141742

## 2. Loop a slow function

### With plain Python

In [16]:
from time import sleep

def slow_square(x):
    sleep(1)
    return x**2

In [17]:
%%time
[slow_square(n) for n in range(16)]

CPU times: user 1.85 ms, sys: 0 ns, total: 1.85 ms
Wall time: 16 s

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

### With Dask
- https://examples.dask.org/delayed.html
- http://docs.dask.org/en/latest/setup/single-distributed.html

In [24]:
from dask import compute, delayed

%time
compute([delayed(slow_square)(n) for n in range(16)])

CPU times: user 5 µs, sys: 0 ns, total: 5 µs
Wall time: 9.78 µs

([0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225],)

In [34]:
x = [delayed(slow_square)(n) for n in range(16)]

%time
compute(x)

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 7.63 µs

([0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225],)

In [31]:
'''`!free -m` for megabytes of free memory.

`!top` to see running processes/load. (Note: this one keeps running/updating! So stop it after you're done looking at it.)

`!cat /proc/cpuinfo` to see more than you want to know about your CPU.'''

!free -m

             total       used       free     shared    buffers     cached
Mem:         64405       3968      60437          0        785       1989
-/+ buffers/cache:       1193      63212
Swap:            0          0          0

## 3. Analyze millions of Instacart orders

### Download data
https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2

In [25]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-02-25 18:16:19--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.8.125
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.8.125|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  99.1MB/s    in 2.0s

2019-02-25 18:16:21 (99.1 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [26]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [27]:
%cd instacart_2017_05_01

/home/ec2-user/SageMaker/DS-Unit-3-Sprint-3-Big-Data/module1-aws-sagemaker/instacart_2017_05_01

In [28]:
!ls -lh *.csv

-rw-r--r-- 1 ec2-user ec2-user 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 ec2-user ec2-user  270 May  2  2017 departments.csv
-rw-r--r-- 1 ec2-user ec2-user 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 ec2-user ec2-user  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 ec2-user ec2-user 104M May  2  2017 orders.csv
-rw-r--r-- 1 ec2-user ec2-user 2.1M May  2  2017 products.csv

### With Pandas

#### Load & merge data

In [35]:
import pandas as pd

In [36]:
%%time
order_products = pd.concat([
    pd.read_csv('order_products__prior.csv'), 
    pd.read_csv('order_products__train.csv')])

order_products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33819106 entries, 0 to 1384616
Data columns (total 4 columns):
order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtypes: int64(4)
memory usage: 1.3 GB
CPU times: user 9.92 s, sys: 2.11 s, total: 12 s
Wall time: 12 s

In [37]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [38]:
products = pd.read_csv('products.csv')
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 4 columns):
product_id       49688 non-null int64
product_name     49688 non-null object
aisle_id         49688 non-null int64
department_id    49688 non-null int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [39]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [40]:
%%time
order_products = pd.merge(order_products, products[['product_id', 'product_name']])

CPU times: user 6.99 s, sys: 2.01 s, total: 9 s
Wall time: 9.01 s

In [41]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered        product_name
0         2       33120                  1          1  Organic Egg Whites
1        26       33120                  5          0  Organic Egg Whites
2       120       33120                 13          0  Organic Egg Whites
3       327       33120                  5          1  Organic Egg Whites
4       390       33120                 28          1  Organic Egg Whites

#### Most popular products?

In [43]:
%%time
order_products['product_name'].value_counts().head(10)

CPU times: user 4.07 s, sys: 22.1 ms, total: 4.09 s
Wall time: 4.07 s

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

#### Organic?

In [54]:
%%time
#order_products['organic'] = order_products['product_name'].str.contains('Organic')

order_products.organic.value_counts()

CPU times: user 265 ms, sys: 158 ms, total: 424 ms
Wall time: 396 ms

False    23163118
True     10655988
Name: organic, dtype: int64

### With Dask
https://examples.dask.org/dataframe.html

In [49]:
import dask.dataframe as dd
from dask.distributed import Client

client = Client(n_workers=16)
client

#### Load & merge data
https://examples.dask.org/dataframes/01-data-access.html#Read-CSV-files

In [67]:
%%time
order_products = dd.read_csv('order_products*.csv')

## dask.dataframe is all about LAZYNESS

order_products = dd.merge(order_products, products[['product_id', 'product_name']])

CPU times: user 38.3 ms, sys: 0 ns, total: 38.3 ms
Wall time: 35.7 ms

In [68]:
order_products

Dask DataFrame Structure:
               order_id product_id add_to_cart_order reordered product_name
npartitions=11
                  int64      int64             int64     int64       object
                    ...        ...               ...       ...          ...
...                 ...        ...               ...       ...          ...
                    ...        ...               ...       ...          ...
                    ...        ...               ...       ...          ...
Dask Name: merge, 45 tasks

http://docs.dask.org/en/latest/dataframe-performance.html#persist-intelligently

In [69]:
%%time
order_products = order_products.persist()

CPU times: user 5.7 ms, sys: 0 ns, total: 5.7 ms
Wall time: 5.3 ms

#### Most popular products?

In [70]:
%%time
order_products['product_name'].value_counts().compute().head(10)

CPU times: user 202 ms, sys: 30 ms, total: 232 ms
Wall time: 1.31 s

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

#### Organic?

In [74]:
%%time
order_products['organic'] = order_products['product_name'].str.contains('Organic')

order_products.organic.value_counts().compute()

CPU times: user 2.8 s, sys: 368 ms, total: 3.16 s
Wall time: 24.7 s

## 4. Fit a machine learning model

### Load data

In [75]:
%cd ../ds1-predictive-modeling-challenge

/home/ec2-user/SageMaker/DS-Unit-3-Sprint-3-Big-Data/module1-aws-sagemaker/ds1-predictive-modeling-challenge

In [77]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

train_features = pd.read_csv('train_features.csv')
train_labels = pd.read_csv('train_labels.csv')

X_train_numeric = train_features.select_dtypes(np.number)
y_train = train_labels['status_group']

### With 2 cores (like Google Colab)
https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

In [83]:
%%time
model = RandomForestClassifier(n_estimators=200, oob_score=True, n_jobs=2, random_state=42, verbose=1)
model.fit(X_train_numeric, y_train)
print('Out-of-bag score:', model.oob_score_)

[Parallel(n_jobs=100)]: Done 200 out of 200 | elapsed:    2.5s finished

Out-of-bag score: 0.7206397306397306
CPU times: user 38.8 s, sys: 0 ns, total: 38.8 s
Wall time: 4.61 s

### With 16 cores (on AWS m4.4xlarge)

In [ ]:
%%time
model = RandomForestClassifier(n_estimators=200, oob_score=True, n_jobs=16, random_state=42, verbose=1)
model.fit(X_train_numeric, y_train)
print('Out-of-bag score:', model.oob_score_)

## ASSIGNMENT

Revisit a previous assignment or project that had slow speeds or big data.

Make it better with what you've learned today!

You can use `wget` or Kaggle API to get data. Some possibilities include:

- https://www.kaggle.com/c/ds1-predictive-modeling-challenge
- https://www.kaggle.com/ntnu-testimon/paysim1
- https://github.com/mdeff/fma
- https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2 



Also, you can play with [Datashader](http://datashader.org/) and its [example datasets](https://github.com/pyviz/datashader/blob/master/examples/datasets.yml)!